"*":
  core:
    autoHideMenuBar: true
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
        ".flowconfig"
      ]
      "source.json": [
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "tree-view"
    ]
    telemetryConsent: "no"
  editor:
    fontFamily: "Source Code Pro, Inconsolata, Dejavu Sans Mono, monospace"
    tabLength: 4
  nuclide:
    "nuclide-flow":
      canUseFlowBin: true
  "tabs-to-spaces":
    onSave: "untabify"
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
